<nav class="navbar navbar-expand-xl background ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" ></a> -->
      <img src="/assets/images/logo.png" class="ms-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto p-2 ">
          <li class="nav-item  navlinks align-left  mt-4">
            <a class="nav-link active me-5" routerLink="" routerLinkActive="active-link">HOME </a>
          </li>
          <li class="nav-item navlinks mt-4">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">ABOUT US</a>
          </li>
          <li class="nav-item navlinks  mt-4">
            <a class="nav-link" routerLink="/donate" routerLinkActive="active-link">DONATE</a>
          </li>
          <li class="nav-item navlinks mt-3">
            <a class="nav-link" routerLink="/cart" routerLinkActive="active-link">
              <img src="/assets/images/icons/cart.png" alt="">
              <mat-badge [matBadge]="cartItemCount" matBadgeColor="accent"></mat-badge>
            </a>
          </li>

          
          <li class="nav-item navlinks  mt-4" >
            <a class="nav-link" routerLink="/login" id="login" routerLinkActive="active-link">LOGIN</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>