<nav class="navbar navbar-expand-xl background ">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" ></a> -->
    <img src="/assets/images/logo.png" class="ms-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto p-2 ">
        <li class="nav-item  navlinks align-left  mt-4">
          <a class="nav-link active me-5" routerLink="/dashboard" routerLinkActive="active-link">HOME </a>
        </li>
        <li class="nav-item navlinks mt-4">
          <a class="nav-link" routerLink="/startfundraiser" routerLinkActive="active-link">START FUNDRAISER</a>
        </li>
        <li class="nav-item navlinks mt-3">
          <a class="nav-link" routerLink="" routerLinkActive="active-link">
            <img src="/assets/images/icons/user.png" alt="">
          </a>
        </li>

      
      </ul>
      
    </div>
  </div>
</nav>