<nav class="navbar navbar-expand-xl background ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" ></a> -->
      <img src="/assets/images/logo.png" class="ms-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto p-2 ">
          <li class="nav-item  navlinks align-left  mt-2">
            <a class="nav-link active me-5" routerLink="">HOME </a>
          </li>
          <li class="nav-item navlinks mt-2">
            <a class="nav-link" routerLink="/about">ABOUT US</a>
          </li>
          <li class="nav-item navlinks  mt-2">
            <a class="nav-link" routerLink="/donate">DONATE</a>
          </li>
          <li class="nav-item navlinks">
            <a class="nav-link" routerLink="/cart">
              <img src="/assets/images/icons/cart.png" alt="">
            </a>
          </li>

          
          <li class="nav-item navlinks  mt-2" >
            <a class="nav-link" routerLink="/login" id="login">LOGIN</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>