<app-header></app-header>

<div class="text-center mt-5 head-text" >
    <h2>start fundraiser</h2>
    <h1 class="mt-4 mb-5">follow the steps to start a fundraiser</h1>

</div>
<mat-stepper labelPosition="bottom" #stepper class="container steps">
    <!-- step1 -->
    <mat-step [stepControl]="firstFormGroup" class="steppers">
        <!-- step1 form -->
        <form [formGroup]="firstFormGroup" >
            <!-- stepper1 -->
            <ng-template matStepLabel >setting</ng-template>
            <section>
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div>
                                <div class="card-body p-5">
            
                                    <form action="" autocomplete="on">
            
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="title">TITLE</label>
                                            <input type="text" id="title" class="form-control form-control-sm">
                                            <mat-error *ngIf="firstFormGroup.controls['firstCtrl'].hasError('maxWordCountValidator')">
                                                This field is required.
                                              </mat-error>
            
            
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="brief">BRIEF</label>
                                            <!-- <input type="text" id="brief" class="form-control form-control-sm"> -->
                                            <textarea id="message" name="message" rows="7" cols="50"class="form-control form-control-sm" style="border: 1px solid #000;"></textarea>
                                        </div>
            
            
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="idno">ID NUMBER</label>
                                            <input type="number" id="idno" class="form-control form-control-sm">
                                        </div>
            
            
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="county">COUNTY</label>
                                            <input type="text" id="county" class="form-control form-control-sm">
            
                                        </div>
            
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="subcounty">SUB COUNTY</label>
                                            <input type="text" id="subcounty" class="form-control form-control-sm">
            
                                        </div>
            
                                        <div class="text-center" style="font-weight: 600;">
                                            <h2>OPTIONAL SETTINGS</h2>
                                        </div>
            
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="amount">ENTER AMOUNT</label>
                                            <input type="number" id="amount" class="form-control form-control-sm" >
            
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="amount">END DATE </label>
                                            <input type="date" id="amount" class="form-control form-control-sm" >
            
                                        </div>
                            
            
            
                                    </form>
            
                                    
            
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button mat-button matStepperNext class="button">Next</button>
                  </div>

                  <mat-error *ngIf="firstFormGroup.controls['firstCtrl'].hasError('required')">
                    This field is required.
                  </mat-error>
            </section>
            
            
        </form>

    </mat-step>


    <!-- step2 -->
    <mat-step [stepControl]="secondFormGroup" optional>
        <form [formGroup]="secondFormGroup">
            <!-- stepper2 -->
            <ng-template matStepLabel  >Upload images</ng-template>
            <section>
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card-body p-5">
                                <form action="" autocomplete="on">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="image-upload">BIRTH/DEATH CERTIFICATE</label>
                                        <input type="file" id="image-upload" class="form-control form-control-sm ">
                                    </div>
            
                                </form>
                            </div>
                        </div>
                    </div>  
                </div>
                <!-- <div class="d-flex justify-content-center" >
                    <button mat-button matStepperPrevious class=" button-back btn-back">Back</button>
                    <button mat-button matStepperNext style="color: #3487d3;" class="text-center  btn-skip">SKIP </button>
                  </div> -->

                  <div class="d-flex justify-content-between align-items-center">
                    <button mat-button matStepperNext class="button">Next</button>
                    <!-- <div class="d-flex justify-content-center">
                      <!-- Empty div to center the back button
                      <button mat-button matStepperNext class="button-back btn-back">Next</button>
                    </div> -->
                    <button mat-button matStepperNext style="color: #3487d3;">SKIP</button>
                  </div>

                  <mat-error *ngIf="secondFormGroup.controls['secondCtrl'].hasError('required')">
                    This field is required.
                  </mat-error>
                  
            </section>
        </form>

    </mat-step>

    <!-- step3 -->
    <mat-step [stepControl]="thirdFormGroup" > 
        <form [formGroup]="thirdFormGroup" >

        
        <!-- stepper3 -->
        <ng-template matStepLabel >Contact details</ng-template>

        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div>
                            <div class="card-body p-5">
        
                                <form action="" autocomplete="on">
        
                                
        
        
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" id="email" class="form-control form-control-sm">
                                       
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="amount">Phone</label>
                                        <input type="number" id="amount" class="form-control form-control-sm">
        
                                    </div>
        
        
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="text">Facebook Account</label>
                                        <input type="text" id="text" class="form-control form-control-sm">
        
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="text">Twitter Account</label>
                                        <input type="text" id="text" class="form-control form-control-sm">
        
                                    </div>
        
                                    
        
        
                                </form>
        
                                
        
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-error *ngIf="thirdFormGroup.controls['thirdCtrl'].hasError('required')">
                This field is required.
              </mat-error>
            
        </section>
      
          <div class="d-flex justify-content-between align-items-center">
            <button mat-button  style="color: #3487d3;"(click)="stepper.reset()">RESET</button>

            <button mat-button matStepperNext style="color: #3487d3;">FINISH</button>
          </div>

        
        
    </form>
    </mat-step>
    

</mat-stepper>










































<!-- <section>





    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div>
                    <div class="card-body p-5">

                        <form action="" autocomplete="on">

                            <div class="form-outline mb-4">
                                <label class="form-label" for="title">TITLE</label>
                                <input type="text" id="title" class="form-control form-control-sm">


                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="brief">BRIEF</label>
                                <!-- <input type="text" id="brief" class="form-control form-control-sm">
                                <textarea id="message" name="message" rows="7" cols="50"class="form-control form-control-sm" style="border: 1px solid #000;"></textarea>
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="idno">ID NUMBER</label>
                                <input type="number" id="idno" class="form-control form-control-sm">
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="county">COUNTY</label>
                                <input type="text" id="county" class="form-control form-control-sm">

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="subcounty">SUB COUNTY</label>
                                <input type="text" id="subcounty" class="form-control form-control-sm">

                            </div>

                            <div class="text-center" style="font-weight: 600;">
                                <h2>OPTIONAL SETTINGS</h2>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="amount">ENTER AMOUNT</label>
                                <input type="number" id="amount" class="form-control form-control-sm">

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="amount">END DATE </label>
                                <input type="date" id="amount" class="form-control form-control-sm">

                            </div>
                            <!-- <button class="btn btn-primary btn-sm  next" type="submit">NEXT</button>
                            <div class="d-flex justify-content-end mt-5">
                                <button class="btn btn-primary button" (click)="navigateToPage">NEXT</button>
                            </div>


                        </form>

                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->