<!-- First division of the honme page containing a text and image displayed in flex -->

<div class="container-fluid homepage">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <h5 class="heading">Make a Donation! <br>Change a life</h5>
            <p class="mt-4 heading-text">Every donation, no matter the size, brings us one step closer to achieving our
                goal. Your
                support matters, and your contribution can have a lasting impact.
                Be the change you wish to see in the world. Your donation has the power to transform lives, uplift
                communities,
                and create a brighter future for those in need. Together, we can make a difference and leave a lasting
                impact. Your generosity fuels hope, inspires others,
                and brings about positive change. Let compassion be your guiding force, and let your donation be a
                catalyst for a more compassionate and equitable world. Every act of giving counts, and together,
                we can create a better tomorrow for all.
            </p>
            <button class="btn btn-secondary button">START FUNDRAISING</button>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 mt-5 d-flex justify-content-center">
            <img src="/assets/images/homeimg.png" alt="Mfariji" class="img-fluid  ">

        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-md-8 mx-auto">
                <div class="box text-center">
                    <p>
                        <img src="/assets/images/icons/sound.png" class="mr-2">
                        Our crowdfunding platform charges no fee
                        <span class=" mt-2 display-4">0%</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="icon-texts">
            <p class="mt-5">Thousands are fundraising online on mfariji</p>
            <img src="/assets/images/homeicon.png" class=" img-fluid ">
            <h5>RAISE FUNDS ONLINE FOR EMERGENCIES AND SOCIAL CAUSES</h5>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="boxes text-center">
                    <img src="/assets/images/icons/doctor.png" class="mt-3">
                    <div class="box-text">
                        <h5 class="mt-5">Medical</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="boxes text-center">
                    <img src="/assets/images/icons/education.png" class="mt-3">
                    <div class="box-text">
                        <h5 class="mt-5">Education</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="boxes text-center">
                    <img src="/assets/images/icons/candle.png" class="mt-3">
                    <div class="box-text">
                        <h5 class="mt-5">Memorials</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="boxes text-center">
                    <img src="/assets/images/icons/dots.png" class="mt-3">
                    <div class="box-text">
                        <h5 class="mt-5">Others</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class=" fundraisers">
        <h2 class="mt-5">FEATURED FUNDRAISERS </h2>
        <p>now trending</p>
        <div class="row row-cols-1 row-cols-md-3 g-5 donation mt-3" >
            <div class="col" *ngFor="let cards of card">
                <div class="card h-100" style=" border-radius: 1.25rem 1.25rem 0 0;
                border: none;"  >
                    <img [src]="cards.Image" class="card-img-top"
                        alt="Skyscrapers" />
                    <div class="card-body">
                        <p class="card-text">
                            {{cards.content}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <h4 class="raised-text">DONATED/RAISED</h4>
                        <div class="d-flex mt-4">
                            <div class="progress" style="width: 50%;" role="progressbar"
                                aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%">
                                </div>
                            </div>
                            <button class="btn btn-primary donate-button">DONATE</button>
                        </div>
    
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="mt-5 mb-4 viewmore">
            <a routerLink="/donate">View more fundraisers > </a>
        </div>



    </div>

    <!-- How to start a fundraiser -->

    <div class="container">
        <div class="overflow-x-auto">
            <div class="last-div">
                <div class="Ftext">
                    <h1 class="mt-5">HOW TO START A FUNDRAISER</h1>
                    <p class="mt-3">Strating a fundraiser is easy</p>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-lg-center mb-4">
                    <div class="steps mb-3">
                        <div class="row icon-steps">
                            <div class="col-auto">
                                <img src="/assets/images/icons/starticon.png" alt="Start Icon">
                            </div>
                            <div class="col mt-3">
                                <b>1. Start a fundraiser</b><br>
                                Sign up on <b>MFARIJI</b> and create your fundraiser in <br>minutes. Sign up as a Widow
                            </div>
                        </div>

                        <div class="row icon-steps">
                            <div class="col-auto">
                                <img src="/assets/images/icons/shareicon.png" alt="Start Icon">
                            </div>
                            <div class="col mt-3">
                                <b>2. Share your fundraiser</b><br>
                                Share your fundraiser Share your fundraiser via Email, WhatsApp and other<br> social
                                media
                                channels to reach as many donors as <br>possible.
                            </div>
                        </div>

                        <div class="row icon-steps">
                            <div class="col-auto">
                                <img src="/assets/images/icons/receiveicon.png" alt="Start Icon">
                            </div>
                            <div class="col mt-3">
                                <b>3. Receive the donations</b><br>
                                The donations are paid out automatically to your bank <br>account on a monthly basis
                                without any
                                platform cost.
                            </div>
                        </div>

                        <div class="row icon-steps">
                            <div class="col-auto">
                                <img src="/assets/images/icons/thankicon.png" alt="Start Icon">
                            </div>
                            <div class="col mt-3">
                                <b>4. Thank your donors</b><br>
                                Customize the automated “Thank You” email or send a <br> personal message to your donors
                                via the
                                Whydonate<br> dashboard.
                            </div>
                        </div>
                    </div>
                    <img src="/assets/images/stepsimg.png" class="styleimg ">
                </div>
            </div>
        </div>

    </div>



</div>