<app-header> </app-header>
<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <h5 class="heading ">Get help </h5>
            <p class="mt-1 heading-text">withPersonal Fundraising
                0% platform fee, so let’s start.Through personal fundraising, individuals can ask for help and raise awareness for their fellow citizens in need. The goal of personal fundraising is to encourage communities to support those in need.
            </p>
            <div class="text-center">
                <button class="btn btn-primary button" (click)="navigateToStart()">START FUNDRAISING</button>
            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 mt-5 d-flex justify-content-center"  >
            <img src="/assets/images/dashboardimg.png" alt="Mfariji" class="img-fluid  ">

        </div>
    </div>

    <div class="container section2-text ">
        <h2>START FUNDRAISING FOR </h2>
        <div class="row">
            <div class="col-md-2">
                <h4>shelter</h4>
            </div>
            <div class="col-md-2">
                <h4>Agriculter</h4>
            </div>
            <div class="col-md-2">
                <h4>Education</h4>
            </div>
            <div class="col-md-2">
                <h4>Refugees </h4>
            </div>
            <div class="col-md-4">
                <h4>Technology...</h4>
            </div>
        </div>

        

        <!-- <button class="btn btn-primary button">START FUNDRAISING</button> -->

    </div>

    <div class="row section2">
        <div class="col-xl-6 col-lg-6 col-md-6 mt-5 d-flex justify-content-center">
            <img src="/assets/images/fundraising1.png" alt="Mfariji" class="img-fluid image-style" style="width: 24rem; height: 17rem;">

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 pt-3 head-text">
            <p class="mt-5 heading-text2"><b class="heading2">How can i start fundraising for personal <br> Needs?
                    <br></b>One of the best ways to do personal fundraising is using a crowdfunding site.
                This type of fundraising allows individuals to raise money for their specific needs. Fundraising for
                personal reasons is not something that everyone should do for fun. As it involves a large number of
                people, it is essential that the cause must be significant enough for crowdfunding purposes. Due to
                the evolution of crowdfunding, it has become more common for people to access personal fundraising
                websites.
                This allows them to gain deeper insight into their lives. WhyDonate is one of the most reliable personal
                fundraising websites
                to help you reach your goal seamlessly. Here are some more articles that can shed light on personal
                fundraising ideas:
            </p>

        </div>

    </div>




    <div class="row mt-3 section3">
        <div class="col-xl-6 col-lg-6 col-md-6 pt-3 head-text">
            <p class="mt-5 heading-text3"><b class="heading3">What is personal fundraising?
                    <br></b>One of the best ways to do personal fundraising is using a crowdfunding site.
                This type of fundraising allows individuals to raise money for their specific needs. Fundraising for
                personal reasons is not something that everyone should do for fun. As it involves a large number of
                people, it is essential that the cause must be significant enough for crowdfunding purposes. Due to
                the evolution of crowdfunding, it has become more common for people to access personal fundraising
                websites.
                This allows them to gain deeper insight into their lives. WhyDonate is one of the most reliable personal
                fundraising websites
                to help you reach your goal seamlessly. Here are some more articles that can shed light on personal
                fundraising ideas:
            </p>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 mt-5 d-flex justify-content-center">
            <img src="/assets/images/crowdfund.png" alt="Mfariji" class="img-fluid" >

        </div>

    </div>

</div>