.aboutuspage {
    font-family: Inter;

}

.about-text {
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-subtext p {
    font-family: Inter;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.unique h1 {
    text-align: center;
    margin-top: 5rem;
    text-decoration: underline;
}

.grid1-text h3 {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.toplated{
    margin-top: 5rem;
}
.minis img{
    padding: 2rem 3rem;
    margin-bottom: 3rem;

}
.join-text{
    padding-top: 5rem;
    margin-bottom: 3.5rem;
}
.join-text h1{
    color: #000;
font-family: Inter;
font-size: 2rem;
font-weight: 700;
font-weight: 700;
}