
<app-header1> </app-header1>
<div class="container-fluid-xl aboutuspage">
    <div class="bg-image position-relative d-flex align-items-end justify-content-center p-5"
        style="background-image: url('/assets/images/aboutuspage.png'); height: 500px;">
        <h1 class="mb-4 h2 text-center text-white about-text">Empowering widows and widowers to thrive <br> through
            support, resources,
            and <br> opportunities, fostering resilience, and <br>celebrating their stories of triumph</h1>
    </div>
    <div class="container about-subtext mt-2 ">
        <p>At Mfariji, we understand the unique challenges and hardships faced by individuals who have lost their
            partners. Our platform is dedicated to providing support and assistance to widows and widowers in need,
            offering a compassionate and inclusive community where they can find solace, encouragement, and empowerment.
        </p>
    </div>
    <div class="unique overflow-x-hidden ">
        <h1 class="text-center p-1">WHAT MAKES US UNIQUE</h1>
        <div class="row grids justify-content-center align-items-center mt-5">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center mb-5">
                    <img src="/assets/images/icons/circle.png">
                </div>
                <div class="grid1-text text-center p-2">
                    <h3>Lifting one, to lift many</h3>
                    <p>When an mfariji loan enables someone to<br> grow abusiness and create opportunities for
                        themselves,
                        it creates opportunities <br>for others as well. That ripple effect can <br>shape the future
                        for a
                        family or an entire community.</p>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div class="d-flex justify-content-center align-items-center mb-5">
                    <img src="/assets/images/icons/globe.png">
                </div>
                <div class="grid1-text text-center p-2">
                    <h3>You choose where to make an impact</h3>
                    <p>Whether you are donating to friends in your community or people halfway around <br>the world
                        (and for many, it’s both),<br> mfariji creates the opportunity to play a special part in someone
                        else's story.<br> At mfariji, loans aren’t just about<br> money—they’re a way to create
                        connection and
                        relationships.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container toplated text-center">
        <h2>MFARIJI IS A TOP LATED CHARITY</h2>
        <div class="d-flex justify-content-center minis ">
            <div class="d-flex flex-wrap justify-content-center mt-5">
                <img src="/assets/images/mini1.png" class="img-fluid" alt="Mini 1">
                <img src="/assets/images/mini2.png" class="img-fluid" alt="Mini 2">
                <img src="/assets/images/mini3.png" class="img-fluid" alt="Mini 3">
            </div>
        </div>
    </div>



    <div class="vision-mision overflow-x-hidden ">
        <div class="row grids justify-content-center align-items-center mt-3">
            <div class="col-md-6">
                <div class="grid1-text text-center p-2">
                    <h3 style="color: #E01515;;">MFARIJI'S VISION</h3>
                    <p>Uniting widows and widowers worldwide <br>for healing, connection, and empowerment.</p>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div class="grid1-text text-center p-2">
                    <h3 style="color: #E01515;;">MFARIJI'S MISSION</h3>
                    <p>Empowering widows and widowers <br> worldwide through support, connection, and resources.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <p><b>MFARIJI</b> is a dedicated donation web platform that aims to support widows and widowers during their
            challenging
            journey by providing them with a secure and compassionate environment to raise funds. Through personalized
            profiles,
            fundraising campaigns, community engagement, and transparent processes, we strive to empower widows and
            widowers
            to overcome financial obstacles and find solace in the support of caring individuals and communities.
            Together, we can make a difference and uplift those who have experienced the loss of a spouse.</p>
    </div>


    <div class="container join-text" style="text-align: center;">
        <h1>Join our community</h1>
        <p class="mt-5">Become a donor, fundraiser, supporter or follower</p>
    </div>








</div>
